header{
    background-color: rgb(91, 1, 133);
    padding-left: 800px;
    padding-top: 10px;
}
h1{
    color: aliceblue;
}
body{
    background-color: rgb(91, 1, 133);
    margin: 0px;
}
h2{
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    color: aliceblue;
    width: 500px;
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
hr{
    height: 6px;
    background-color: aliceblue;
}
section{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
h3{
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 50px;
    font-size: 28px;
}
.carrossel-de-filmes{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}
.filmes{
    display: flex;
    gap: 10px;
    overflow-x: auto;
}
.filmes img{
    width: 500px;

}
.filmes img:hover{
    border: 5px solid aliceblue;
}